<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav id="navbar">
        <div id="page-title">Mini Message Board</div>
        <div id="options">
            <div id="nav-search" class="nav-link">Search</div>
            <div id="nav-delete" class="nav-link">Delete</div>
            <a id="nav-new" href="/new" class="nav-link">Send a message</a>
        </div>
    </nav>

    <div id="messages-container">
        <%messages.forEach((item)=>{%>
            <div class="message">
                <div class="message-icon"><%=item["username"][0]%></div>
                <div class="message-username"><%=item["username"]%></div>
                <div class="message-text"><%=item["message"]%></div>
                <div class="message-date"><%=item["date"].toLocaleString().split(",")[0]%></div>
                <a class="message-button" href="/message/<%=item["id"]%>" >View</a>
            </div>
        <%});%> %>
    </div>

<%- include("../views/partials/footer"); %>
</body>
</html>